.footer{
	align-self: flex-end; 	
	background:  teal;
	text-align: center;
	padding: 10px;
	width: 100%;
}

.login-box {
  width: 320px;
  padding: 200px 50px;
}

.fondo{
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.boty {
	margin: 0;
	padding: 0;
	
	min-height: 100vh;
	flex-wrap: wrap;
}