<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" type="text/css"	th:href="@{/css/styles.css}" />
<link th:rel="stylesheet" type="text/css"	
th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"	
th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
<meta charset="UTF-8">

<title>Cliente</title>
</head>

<body>

	<div th:insert="layout/header :: header"></div>

	<div class="login-box">
		
     
		<h1>Formulario de Carga de Cliente</h1>
		<form id="formProducto" th:object="${unCliente}" th:action="@{/cliente/guardar}" method="post">
			<!--viene un objeto "un cliente" //con el arroba se puede cambiar de nombre-->
			<!--heredan sus atributos-->
			
			<div class="form-group row">
			<label for="tipdoc"  class="col-sm-2 col-form-label" >Tipo de Documento</label> 
			<div class="col-sm-3">
			<select id="tipdoc" th:field="*{tipoDocumento}"  class="form-control"><!--${unCliente/nroDocumento}-->
				<option value="DNI">DNI</option>
				<option value="Pasaporte">Pasaporte</option>
			</select> 
			</div>
			</div>
			
			<div class="form-group row">
			<label for="numdoc"  class="col-sm-2 col-form-label" >Documento</label> 
			<div class="col-auto">
			<input type="number" id="numdoc" th:field="*{nroDocumento}"> 
			</div>
			</div>
			 
			<div class="form-group row">
			<label for="apynom" class="col-sm-2 col-form-label" >Apellido y Nombre</label>
			<div class="col-auto"> 
			<input type="text" id="apynom" th:field="*{nomyApe}"> 
			</div>
			</div>
			
			<div class="form-group row" >
			<label for="fechanac" class="col-sm-2 col-form-label">Nacimiento</label> 
			<div class="col-auto"> 
			<input type="date" id="fechanac" th:field="*{fechaNacimiento}"> 
			</div>
			</div>
			 
			<div class="form-group row" >
			<label for="codigo" class="col-sm-2 col-form-label">Cod Area</label> 
			<div class="col-auto">
			<input type="number" id="codigo" th:field="*{codigoAreaTelefono}"> 
			</div>
			</div> 
			
			<div class="form-group row" > 
			<label for="numtel" class="col-sm-2 col-form-label">Telefono</label> 
			<div class="col-auto">
			<input type="number" id="numtel" th:field="*{numTelefono}"> 
			</div>
			</div>
			
			<div class="form-group row" > 
			<label for="email" class="col-sm-2 col-form-label">Email</label> 
			<div class="col-auto">
			<input type="email" id="email" th:field="*{email}"> 
			</div>
			</div> 
			
			<div class="form-group row" >
			<label for="ultcompra" class="col-sm-2 col-form-label">ultima compra</label> 
			<div class="col-auto">
			<input type="date" id="ultcompra" th:field="*{fechaUltimaCompra}"> 
			</div>
			</div>
			
			<div>
				<button type="submit" value="Agregar">Agregar</button>
			</div>

		</form>

		<!-- ---------------------------------------------------------------- -->

		<h3>Lista de Clientes</h3>
		<br>
		<div>
			<table border=1 style="border-collapse: collapse" class="table table-dark">
				<tr>
					<th>tipo Doc</th>
					<th>Num Doc</th>
					<th>Apellido y nombre</th>
					<th>Fecha</th>
					<th>edad</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>ultima compra</th>
					<th>datos adicionales</th>
					
				</tr>
				<tr th:each="cli : ${clientes}">
					<td th:text="${cli.tipoDocumento}"></td>
					<td th:text="${cli.nroDocumento}"></td>
					<td th:text="${cli.nomyApe.toUpperCase()}"></td>
					<td
						th:text="${#temporals.format(cli.fechaNacimiento,'dd/MM/yyyy')}"></td>
					<!--formatea la fecha para poder mostrar-->
					<td th:text="${cli.getEdad()}"></td>
					<td th:text="|${cli.codigoAreaTelefono} - ${cli.numTelefono}|"></td>
					<td th:text="${cli.email}"></td>
					<td
						th:text="${#temporals.format(cli.fechaUltimaCompra,'dd/MM/yyyy')}"></td>
					<td th:text="|${cli.getTiempoDesdeUltimaCompra()} - ${cli.getTiempoHastaCumple()}|"></td>
					
				</tr>
			</table>
		</div>

	</div>

		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			
		<div th:insert="layout/footer :: footer"></div>

	
</body>
</html>