<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" type="text/css"	th:href="@{/css/styles.css}" />
<link th:rel="stylesheet" type="text/css"	
th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"	
th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
<meta charset="UTF-8">

<title>Cliente</title>
</head>

<body class="fondo2">

	<div th:insert="layout/header :: header"></div>
	
	<div class="body2">
	
		
		<h1>Formulario de Carga de Cliente</h1>
		<br>
		
		<form id="formProducto" th:object="${unCliente}" th:action="${editMode}?@{/cliente/modificar}:@{/cliente/guardar}" method="post">
		<div class="text-white">
		    <div class="form-group row">
			<label for="numdoc"  class="col-sm-2 col-form-label" >Documento</label> 
			<div class="col-auto">
			<input type="number" id="numdoc" th:field="*{nroDocumento}"> 
			</div>
			</div>
		
			<div class="form-group row">
			<label for="tipdoc"  class="col-sm-2 col-form-label" >Tipo de Documento</label> 
			<div class="col-sm-2">
			<select id="tipdoc" th:field="*{tipoDocumento}"  class="form-control">
				<option value="DNI">DNI</option>
				<option value="Pasaporte">Pasaporte</option>
			</select> 
			</div>
			</div>
			 
			<div class="form-group row">
			<label for="apynom" class="col-sm-2 col-form-label" >Apellido y Nombre</label>
			<div class="col-auto"> 
			<input type="text" id="apynom" th:field="*{nomyApe}"> 
			</div>
			</div>
			
			<div class="form-group row" >
			<label for="fechanac" class="col-sm-2 col-form-label">Nacimiento</label> 
			<div class="col-auto"> 
			<input type="date" id="fechanac" th:field="*{fechaNacimiento}" required> 
			</div>
			</div>
			 
			<div class="form-group row" >
			<label for="codigo" class="col-sm-2 col-form-label">Cod Area</label> 
			<div class="col-auto">
			<input type="number" id="codigo" th:field="*{codigoAreaTelefono}"> 
			</div>
			</div> 
			
			<div class="form-group row" > 
			<label for="numtel" class="col-sm-2 col-form-label">Telefono</label> 
			<div class="col-auto">
			<input type="number" id="numtel" th:field="*{numTelefono}"> 
			</div>
			</div>
			
			<div class="form-group row" > 
			<label for="email" class="col-sm-2 col-form-label">Email</label> 
			<div class="col-auto">
			<input type="email" id="email" th:field="*{email}"> 
			</div>
			</div> 
			
			<div class="form-group row" >
			<label for="ultcompra" class="col-sm-2 col-form-label">ultima compra</label> 
			<div class="col-auto">
			<input type="date" id="ultcompra" th:field="*{fechaUltimaCompra}" required> 
			</div>
			</div>
			
			<div>
				<input type="submit" class="btn btn-success btn-block"  
				th:value="${editMode}?'Modificar Cliente':'Crear Cliente'">
			</div>
			</div>
		</form>

		<!-- ---------------------------------------------------------------- -->
		<br>
		<h3>Lista de Clientes</h3>
		<br>
		<div class="table-responsive">
			<table border=1 style="border-collapse: collapse" class="table table-dark">
				<tr>
					<th class="atriPrincipal">Num Documento</th>
					<th>tipo Documento</th>
					<th>Apellido y nombre</th>
					<th>Fecha</th>
					<th>edad</th>
					<th>Telefono</th>
					<th>Email</th>
					<th>ultima compra</th>
					<th>datos adicionales</th>
					<th>Edicion</th>
					
				</tr>
				
				<tr th:if="${clientes.empty}">
					<td colspan="10" class="text-center">No hay clientes registrados</td>
				</tr>
				
				<tr th:each="cli : ${clientes}">
					<td class="atriPrincipal" th:text="${cli.nroDocumento}"></td>
					<td th:text="${cli.tipoDocumento}"></td>
					<td th:text="${cli.nomyApe.toUpperCase()}"></td>
					<td th:text="${#temporals.format(cli.fechaNacimiento,'dd/MM/yyyy')}"></td>
					<td th:text="${cli.getEdad()}"></td>
					<td th:text="|${cli.codigoAreaTelefono} - ${cli.numTelefono}|"></td>
					<td th:text="${cli.email}"></td>
					<td th:text="${#temporals.format(cli.fechaUltimaCompra,'dd/MM/yyyy')}"></td>
					<td th:text="|${cli.getTiempoDesdeUltimaCompra()} - ${cli.getTiempoHastaCumple()}|"></td>
					<td><a href="#" th:href="@{'/cliente/editar/'+${cli.nroDocumento}}">
									<i class="fa fa-edit"></i></a>
					<a th:onclick="'javascript:confirmarEliminar(\''+${cli.nroDocumento}+'\');'">
									<i class="fa fa-trash-alt"></i></a>
				</tr>
			</table>
		</div>
		

	</div>
	
	<!--Modal Eliminar--> 
							<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Eliminar</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h6>Are you sure you want to delete this user?</h6></div>
										<input type="hidden" id="identificadorUsuarioHiddenInput" name="userIdHiddenInput"/>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" th:onclick="eliminarUsuario()">Delete User</button>
										</div>
									</div>
								</div>
							</div>


	<div th:insert="layout/footer :: footer"></div>
	
	
	<script type="text/javascript">
	function confirmarEliminar(id){
		$('#modalEliminar').modal('show');
		$("#identificadorUsuarioHiddenInput").val(id);
	}

	function eliminarUsuario(){
	var id = $("#identificadorUsuarioHiddenInput").val();
    window.location = "eliminarCliente/"+id;
	}
	
	</script>
	
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			
	

	
</body>
</html>