<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:rel="stylesheet" type="text/css"	th:href="@{/css/styles.css}" />
	<link th:rel="stylesheet" type="text/css"	
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet"	
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
	<meta charset="UTF-8">
	<title>Producto</title>
</head>

<body class="fondo2">

  <div th:insert="layout/header :: header"></div>
  
  <div class="body2">	
	<h1>Formulario de Carga de Producto</h1>
	<br>
	
	<form id="formProducto" th:object="${unProducto}" th:action="${producto}" method="post">
		
	<div class="text-white">
		<div class="form-group row">
		<label for="codigo" class="col-sm-1 col-form-label">Codigo</label>
		<div class="col-auto">
		<input type="text" id="codigo" th:field="*{codProducto}">
		</div>
		</div>
		
		<div class="form-group row">
		<label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
		<div class="col-auto">
		<input type="password" id="nombre" th:field="*{nombre}">
		</div>
		</div>
		
		<div class="form-group row">
		<label for="precio" class="col-sm-1 col-form-label">Precio</label>
		<div class="col-auto">
		<input type="number" id="precio" th:field="*{precio}">
		</div>
		</div>
		
		<div class="form-group row">
		<label for="marca" class="col-sm-1 col-form-label">Marca</label>
		<div class="col-auto">
		<input type="text" id="marca" th:field="*{marca}">
		</div>
		</div>
		
		<div class="form-group row">
		<label for="stock" class="col-sm-1 col-form-label">Stock</label>
		<div class="col-auto">
		<input type="number" id="stock" th:field="*{stock}">
		</div>
		</div>

		<div>
			<button type="submit" value="Agregar">Agregar</button>
		</div>
    </div>
	</form>
   </div>
   
   	<div th:insert="layout/footer :: footer"></div>
	
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			

</body>

</html>